/*BAŞLIK FONTU*/
@font-face{
    font-family:black900-italic;
    src: url(black\ 900\ italic.ttf);
}
@font-face{
    font-family:black900;
    src: url(black\ 900.ttf);
}
/*BODY FONTU*/
@font-face{
    font-family:bold;
    src: url(bold.ttf);
}
@font-face{
    font-family:light;
    src: url(light.ttf);
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    align-items: center;
    box-sizing: border-box;
}
i{
    font-weight: initial;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    
    font-size: 14px;
    line-height: 1;
    background: #d9e1e8;
    
    
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}
img {
    border: 0;
}
:focus {
    outline: 0;
}
.clear {
    clear: both;
}
*{
    margin: 0;
    font-family:concert-one ;
    text-decoration: none;
    user-select: none;
}

/* HEADER */
.header{
    height: 80px;
    margin: 0 auto;
    background-color: #282c37;
}
.header .header-text{
    text-align: center;
    padding-top: 15px;
}
.header .header-text a{
    font-size: 50px;
    color: #2b90d9;
}
@media only screen and (max-width:820px){
    .header .header-text a{
        font-size: 30px;
        text-align: center;
        margin-top: 150px;
    }
    .header .header-text{
        text-align: center;
       
    }
}
@media only screen and (max-width:306px){
   
    .header .header-text{
        text-align: center;
       
    }
}
/* CONTENT */
.content{
    width: 1300px;
    max-height: 600px;
    margin: 55px auto;
    display: flex;
    text-align: center;
}
.content  ul li{
    display: inline;
}
.content ul li img {
    text-align: center;
    margin: 10px 10px;
    padding:0 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: box-shadow 0.2s ;
    transition: height 0.1s ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 25px 50px -40px, rgba(0, 0, 0, 0.3) 0px 15px 30px -60px, rgba(10, 37, 64, 0.35) 0px -4px 3px 0px inset;
    -webkit-transition: height 0.1s ;
    -moz-transition: height 0.1s ;
    -ms-transition: height 0.1s ;
    -o-transition: height 0.1s ;
}
.content ul li  img:hover{
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background: #d9e1e6; 
  height: 145px;
}
@media only screen and (max-width:820px){
    .content  {
      width: 100%;
      display: block;
    }
    .content ul{
        width: 100%;
        display: inline;
        align-items: center;
    }
    .content ul li{
        display: flex;
        align-items: center;
        margin: 20px 25px;
    }
    .content img{
        height: 100%;
        width: 100%;
    }
}
/* FOOTER */
.footer{
    height: 300px;
    background-color: #282c37;   
}
.footer .header2{
    text-align: center;
    padding-top: 15px;
    height: 80px;
    margin: 0 auto;
    background-color: #282c37;
}
.footer .header2 a{
    font-size: 50px;
    color: #2b90d9;
}
.footer .paragraflar{
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-weight: bold; 
    text-align: center;
   
}
.footer .paragraflar .bir{
    font-size: 30px;
    width: 500px;
    margin: 5px auto;
    line-height: 35px;
    margin-bottom: 70px;

}
@media only screen and (max-width:820px){
    .footer{
        width: 100%;
    }
    .footer .header2{
        width: 100%;
    }
    .footer .paragraflar{
        width: 100%;
        
    }
    .footer .paragraflar .bir{
        width:100%;
        font-size:30px;
        margin-top: 40px;
        margin-bottom: 20px;
    }
}